body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
tr:hover {
    background-color:dodgerblue;
    
}

th {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color:gainsboro;
    color: black;
}

.table-row {
    cursor: pointer;
    color: darkblue;
    text-align:center;
}

.selected-row {
    background-color:aliceblue !important;
    color: burlywood;
}
.h1{
    font-display:inherit;
    font-size:larger;
}
.input{
    align-content:flex-end;
}
.form {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: gainsboro;
    color: blue;
}

            
